:root {
    --primary-color: #115c4a;
    --secondary-color: #7b000a;
    --accent1-color: #f4f4f4;
    --accent2-color: #785500;
    --heading-font: Helvetica, sans-serif;
    --body-font: Arial, sans-serif;
    --header-text-color: #c8f0e6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--header-text-color);
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 16px;
}

header img {
    width: 200px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav li {
    margin-left: 16px;
}

nav a {
    text-decoration: none;
    font-size: x-large;
    background-color: #ffffff;
    padding: 8px 16px;
    border: 1px solid #333;
    color: #000;

}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
    background-color: #ffffff;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    background-color: #ddd;
    padding: 24px;
    position: relative;
    margin: 16px;
    border: 2px solid #333;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    /* position: absolute; */
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.85;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 150px;
}

.hero article {
    /* position: absolute; */
    background-color: #ffffffcc;
    padding: 16px;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    padding: 16px;
    align-items: center;
}

.history h2 {
    text-align: center;
}

.history img {
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin: 8px;
    text-align: center;
}

.gallery img {
    width: 100px;
    height: auto;
}

.adventure h2 {
    text-align: center;
    padding-bottom: 16px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b9acd6;
    padding: 16px;
}

.socialmedia {
    display: flex;
    margin: 10px;
}

.socialmedia img {
    width: 30px;
}