/* Variables */
:root {
    --primary-color: rgb(12, 47, 87);
    --secondary-color: rgb(4, 36, 41);
    --accent1-color: rgb(237, 248, 252);
    --accent2-color: rgb(120, 85, 0);
    --heading-font: Verdana, sans-serif;
    --body-font: Calibri, sans-serif;
    --header-text-color: rgb(200, 240, 230);
    --font-color: rgb(253, 248, 219);
    --button-hover: rgb(255, 242, 123);
}
/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Entire top bar */
header {
    background-color: var(--primary-color);
    color: var(--header-text-color);
    display: grid;
    grid-template-columns: 6% 1fr;
    align-items: center;
}
/* Raft Logo in top left */
header img {
    width: 100%;
}

/* Home - About Us - Trips - Contact Us */
header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

header nav li {
    flex: 1;
    text-align: center;
}

/* Home - About Us - Trips - Contact Us */
header nav a {
    text-decoration: none;
    font-size: x-large;
    font-weight: bolder;
    background-color: var(--accent1-color);
    padding: 16px;
    color: var(--secondary-color);
    border-radius: 64px;
}
/* Basically everyting */
body {
    font-family: var(--body-font);
}

.hero {
    position: relative;
}

.hero-trips {
    position: relative;
}

/* Background image */
.hero img {
    width: 100%;
}

.hero-trips img {
    width: 100%;
}
/* The Wet Bandits */
.hero h1 {
    position: absolute;
    top: -10px;
    width: 100%;
    padding: 12px;
    text-align: right;
    color: var(--font-color);
    font-size: 900%;
}

.hero-trips h1 {
    position: absolute;
    top: -10px;
    width: 100%;
    padding: 12px;
    text-align: right;
    color: var(--font-color);
    font-size: 900%;
}

.hero article {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: grid;
    justify-content: space-between;
}

.hero-trips article {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: grid;
    justify-content: space-between;

}

.hero article p {
    background-color: var(--accent1-color);
    padding: 16px;
    align-items: center;
    font-weight: bolder;
    border-radius: 64px;
    width: 440px;
    transform: translate(60px, -60px);
}

.hero-trips article p {
    background-color: var(--accent1-color);
    padding: 16px;
    align-items: center;
    font-weight: bolder;
    border-radius: 64px;
    width: 440px;
    transform: translate(60px, -60px);
}

.hero article img {
    float: right;
    width: 450px;
    margin-right: 48px;
    border-radius: 64px;
}

.hero-trips article img {
    float: right;
    width: 450px;
    margin-right: 48px;
    border-radius: 64px;
}

section {
    background-color: var(--primary-color);
    font-weight: bolder;
    font-size: 24px;
}

.history-content {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    align-items: center;
    gap: 48px;
    color: var(--font-color)
}

.history h2 {
    text-align: center;
    font-size: 300%;
    color: var(--font-color);
}

.history img {
    width: 100%;
    border-radius: 64px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.gallery img {
    width: 175px;
    border-radius: 64px;
}

.home-gallery img {
    width: 175px;
    border-radius: 64px;
}

.home-gallery {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--font-color);
    padding: 16px;
}

footer p {
    color: var(--primary-color);
    font-weight: bolder;
}

.socialmedia img {
    width: 80px;
    border-radius: 32px;
}

.socialmedia a {
    text-decoration: none;
    border: none;
}

/* ----------------------------------------------------- */
.adventure {
    display: grid;
    border-color: #000;
    align-items: center;
    background-color: var(--primary-color);
    padding: 16px;
    color: var(--font-color)
}

.adventure h2 {
    text-align: center;
    padding-bottom: 16px;
    color: var(--font-color);
}

.info h1 {
    color: var(--font-color);
    text-align: center;
    margin-top: 4px;
    margin-bottom: 12px;
}

.info p {
    color: var(--font-color);
    text-align: center;
    margin-top: 4px;
}

.form-item {
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
    margin-bottom: 8px;
    margin-left: -66px;
}

.form-item label {
    text-align: right;
    padding: 10px;
}

label {
    color: var(--font-color);
}

.form-item input {
    width: 90%;
}

.contact-form p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    padding: .75rem;
    font-size: 1.2rem;
    border: 3px solid black;
    font-weight: bolder;
}

button:hover {
    background-color: var(--button-hover);
}

header a:hover {
    background-color: var(--button-hover);
}

.contact-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

.map {
    flex: 1;
    padding-top: 24px;
    padding-left: 16px;
}

.map iframe {
    max-width: 100%;
    min-height: 400px;
    border: none;
}

.contact-form {
    flex: 1;
    padding-top: 4px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--font-color)
}

textarea {
    width: 90%;
}

button[type="submit"] {
    margin-right: 50px;
}