:root {
    --primary-color: #0B6E99;
    --accent1-color: #F4B400;
    --accent2-color: #F25C26;
    --heading-font: "Times New Roman", "Helvetica Neue", Arial, sans-serif;
    --body-font: "Calibri", "Impact", "Arial Black", sans-serif;
}
header {
    /* background-color: var(--primary-color); */
    color: var(--accent2-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    width: 100%;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero p {
    padding-top: 1.00rem;
    font-size: larger;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(195, 143, 0, 0.9);
    color: #fff;
}
.hero article {
    position: absolute;
    top: 475px;
    background-color: rgba(0, 11, 30, 0.9)
}
.hero article img {
    float: right;
    width: 200px;
}
header img {
    width: 150px;
    height: auto;
}

























.socialmedia img {
    
    width: 35px;
    height: auto;
    margin: .25rem;
}





