* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --box-shadow-color: 0 0 30px gray;
}

nav{
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color:white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: var(--box-shadow-color)
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}
aside h2 {
    position: absolute;
    top: 504px;
    left: 190px;
    color: #eee;
    
}
aside {
    width: 20rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: black;
    padding: 2px;
    box-shadow: var(--box-shadow-color)
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}