    body{
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.35rem;
}

h1 {
    text-align: center;
    font-size: 2.25rem;
}

picture img {
    width: 400px;
    height: auto;
    margin: 0 auto;
    display: block;
    box-shadow: 0 -3px 25px #333;
}

section {
    background-color: #dbdbdb;
    max-width: 370px;
    margin: 0 auto;
    padding: 10px 15px;
    margin-top: 25px;
    border: 2px solid #adadad;
}

section h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

section p {
    padding: 0 10px;

}

footer {
    background-color: #333;
    color: #fff;
    padding: 2px;
    text-align: center;
    margin-top: 25px;
}